form#loginForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
button {
  align-self: center;
  color: white;
  background: rgb(69, 69, 69);
}

#googleLogin a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
#googleLogin img {
  aspect-ratio: 1;
  max-width: 120px;
}
