div.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 12px;
}

div.profile img {
  border-radius: 100%;
  width: 200px; /* Desired width */
  height: 200px; /* Desired height */
  object-fit: cover; /* Ensure image covers the area */
}
